

<div class="background">
    <button mat-fab color="warn" aria-label="Home" (click)="back1()">
    <mat-icon>home</mat-icon>
  </button><br><br>
<button mat-raised-button color="primary"  class="btns" (click)="back()">Back</button> 

<div class="container">
   
<form class=".form-container" [formGroup]="loginForm" >
    <h1 class="heading">Login Form</h1>
    <mat-form-field>
        <mat-label>username</mat-label>
        <input matInput formControlName="userName">
    </mat-form-field>
     <br>
    <mat-form-field >
        <mat-label>Password</mat-label>
        <input matInput type="password"  formControlName="password">
    </mat-form-field>

    <div>
        <button mat-raised-button color="primary" (click)="login()">Login</button>&nbsp;
        <!-- <button mat-raised-button color="primary" *ngIf="forgotPassword" (click)="forgetPassword()">Forgot Password</button> -->
        <a routerLink="/owner/ownerSignUp" mat-raised-button color="accent">New Owner?</a>
    </div>

</form>
</div>
</div>>

<form class="example-form" [formGroup]="forgetPasswordForm" *ngIf="showForgetPasswordForm">

    <mat-form-field class="example-full-width">
        <mat-label>New Password</mat-label>
        <input matInput formControlName="newPassword">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
    </mat-form-field>

    <div>
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    </div>
</form>
