// .btn-container{
//     position: relative;
//     top: 25px;
// }
// .btns{
//     padding: 6px 6px;
//     margin: 5px;
// }
// .background{
//     background-color: yellowgreen;
// }

// .container{
    
//     // height: 1000px;
//     // width: 100%;
//     display: flex;
//   justify-content: center;
//   //align-items: center;
//   height: 100vh;
//   align-items: flex-start;
// }
// .form-container{
//     text-align: center;
//     margin: auto;
//     border: 1px solid black;
//     height: 400px;
//     width: 300px;
//     padding: 6px 6px;
//     background-color: antiquewhite;
// }
// .heading{

// text-align: center;
// }

.btn-container{
    position: relative;
    top: 25px;
}
.btns{
    padding: 6px 6px;
    margin: 5px;
}