.btn-container{
    position: relative;
    top: 25px;
}
.btns{
    padding: 6px 6px;
    margin: 5px;
}
.container{
    background-color: yellowgreen;
    height: 1000px;
    width: 100%;
}
.form-container{
    text-align: center;
    margin: auto;
    border: 1px solid black;
    height: 400px;
    width: 300px;
    padding: 6px 6px;
    background-color: antiquewhite;
}