<div class="bgimg">
    <p>
      <!-- <mat-toolbar class="bg-primary">
        <button mat-icon-button aria-label="Example icon button with a home icon" routerLink="" class="me-3">
          <mat-icon>home</mat-icon>
          <h3><i class="bi bi-house-fill"></i></h3>
        </button> -->

        <button mat-icon-button class="material-icons" color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>home</mat-icon>
          </button>
        <span style="font-size: xx-large;margin-right: 5px;"><i><b>Arihant </b></i></span><span><i> Resort</i></span>
        <span class="example-spacer"></span>
      <!-- </mat-toolbar> -->
    </p>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
  